extends ../layout
block content
      section#post
        article
          header.wrpl
            h1 Availability
            time Last update: #{lastUpdate}
            details
              summary Description:
              p
                | To assess the reliability of SPARQL Endpoints, we test hourly (by default) the endpoints uptime. In order to accommodate patchy SPARQL compliance, we try two queries to test availability for each endpoint:
              p
                span.dimensionDescriptionCode ASK WHERE{ ?s ?p ?o . }
              p
                span.dimensionDescriptionCode SELECT ?s WHERE{ ?s ?p ?o . } LIMIT 1
              p If the ASK query fails (e.g., is not supported) we try the SELECT query.
      .line
      section#posts.default-area
        article.wrp(style='padding-bottom: 1em;')
          .wrplInnerBox(style='height: 100%;')
            section
              .wrpl(style='padding-left: 2em;')
                img(src='./images/green.png')
                span(style='padding-left: 0.75em;') Operating normally
              .wrpl(style='padding-left: 2em;')
                img(src='./images/orange.png')
                span(style='padding-left: 0.75em;') Available but problems this last 24h
              .wrpl(style='padding-left: 2em;')
                img(src='./images/red.png')
                span(style='padding-left: 0.75em;') Service disruption
              .wrpl(style='padding-left: 2em;')
                img(src='./images/gray.png')
                span(style='padding-left: 0.75em;') Still alive?
        article.wrp
          .wrplInnerBox(style='height: 100%;')
            h3 #{epsAvail.nbEndpointsUp}/#{epsAvail.nbEndpointsTotal} endpoints available
            br
            table#table_current.psp-table(cellspacing='0', cellpadding='0', border='0', width='100%')
              thead
                tr
                  th.tablehead(scope='col', colspan='2', width='50%') SPARQL Endpoint
                  th.tablehead(width='25%') Uptime Last 24h
                  th.tablehead(width='25%') Uptime Last 7 days
              tbody
                - each ep, i in epsAvail.endpoints
                  tr(class=(i % 2 == 0) ? 'odd' : 'even')
                    //-Display Availability color image
                    td
                      if ep.upNow == true
                        if ep.uptimeLast24h <1
                          img(src='./images/orange.png')
                        else
                          img(src='./images/green.png')
                      else
                        if ep.uptimeLast7d >0
                          img(src='./images/red.png')
                        else
                          img(src='./images/gray.png')
                    //-Display Endpoint Label
                    //-TODO: if more than one endpoint then display how many and their names 
                    if ep.datasets.length>1
                      td
                        a(href="/dataset?uri=#{ep.uri}") #{ep.uri}
                    else
                      td 
                        a(href="/dataset?uri=#{ep.uri}") #{ep.datasets[0].label}
                    //-Display uptime last 24h
                    td #{parseFloat((ep.uptimeLast24h*100).toFixed(2))+ '%'}
                    //-Display uptime last 7d
                    td #{parseFloat((ep.uptimeLast7d*100).toFixed(2))+ '%'}