-//Filter limit threshold
-//compute most common limit threshold
-//compute pct enforced endpoints
extends ../layout
block content
      section#post
        article
          header.wrpl
            h1 Performance
            time Last update: #{lastUpdate}
            details
              summary Description:
              p
                | The performance of a SPARQL Endpoint is crucial for any application using this service. The performance first looks at the presence of an hypothetical result size threshold enforced by the endpoint. Then, it measures ask and join queries performance. Each query is runned twice to compare cold-cache (first run) and warm-cache (second run) timings.
      .line
      section#posts.default-area
        article.wrp(style='padding-bottom: 1em;')
          .wrplInnerBox(style='height: 100%;')
            - function numberWithCommas(x) {if (x) return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
            div
              b #{parseFloat((nbEndpointsWithThreshold/nbEndpointsTotal*100).toFixed(2))+ '%'} 
              | (#{nbEndpointsWithThreshold}/#{nbEndpointsTotal)) 
              | of the available endpoints are suspected to 
              b enforce a result-size thresholds

            div
              b #{numberWithCommas(mostCommonThreshold)} 
              | is the 
              b most common result-size threshold  
        article.wrp
          .wrplInnerBox(style='height: 100%;')
            table#table_current.psp-table(cellspacing='0', cellpadding='0', border='0', width='100%')
              thead
                tr
                  th.tablehead(scope='col', width='50%') SPARQL Endpoint
                  th.tablehead(width='10%') 
                    span(onmouseover='tooltip.show(\'#{configPerformance["Result-size thresholds"]}\')', onmouseout='tooltip.hide();') Result-size thresholds
                  th.tablehead(width='20%') 
                    span(onmouseover='tooltip.show(\'#{configPerformance["ASK queries"]}\')', onmouseout='tooltip.hide();') ASK queries mean runtime 
                    span(onmouseover='tooltip.show(\'#{configPerformance["Cold-Warm"]}\')', onmouseout='tooltip.hide();') (Cold-Warm)
                  th.tablehead(width='20%') 
                    span(onmouseover='tooltip.show(\'#{configPerformance["JOIN queries"]}\')', onmouseout='tooltip.hide();') Join queries mean runtime 
                    span(onmouseover='tooltip.show(\'#{configPerformance["Cold-Warm"]}\')', onmouseout='tooltip.hide();') (Cold-Warm)
              tbody
                - each ep, i in ptasks_agg
                  tr(class=(i % 2 == 0) ? 'odd' : 'even')
                    //-Display Endpoint Label
                    //-TODO: if more than one endpoint then display how many and their names 
                    if ep.endpoint.datasets.length>1
                      - var generateTooltip = function(datasets){tooltipHtml='This endpoint includes <b>'+datasets.length+' datasets</b>:<ul>';
                      -   for(var i in datasets){tooltipHtml+='<li>'+datasets[i].label+'</li>';}
                      -   tooltipHtml+='</ul>';
                      -   return tooltipHtml;
                      - }
                      td
                        a(href="/endpoint?uri=#{encodeURIComponent(ep.endpoint.uri)}")
                          span(onmouseover='tooltip.show(\'#{generateTooltip(ep.endpoint.datasets)}\')', onmouseout='tooltip.hide();') #{ep.endpoint.uri} (#{ep.endpoint.datasets.length})
                    else
                      td 
                        a(href="/endpoint?uri=#{encodeURIComponent(ep.endpoint.uri)}") #{ep.endpoint.datasets[0].label}
                    //-Display Threshold 
                    td.tdright 
                      if ep.threshold>0  && ep.threshold%100==0
                        | #{numberWithCommas(ep.threshold)}
                    //-Display ASK
                    td.tdright 
                      if ep.askMeanCold+ep.askMeanWarm>0
                        | #{parseFloat(ep.askMeanCold.toFixed(2))}-#{parseFloat(ep.askMeanWarm.toFixed(2))} s
                      else
                        .textDisabled n/a
                    //-Display Join
                    td.tdright 
                      if ep.joinMeanCold+ep.joinMeanWarm>0
                        | #{parseFloat(ep.joinMeanCold.toFixed(2))}-#{parseFloat(ep.joinMeanWarm.toFixed(2))} s
                      else
                        .textDisabled n/a
