extends ../layout
block content
      section#post
        article
          header.wrpl
            h1 Performance
            time Last update: #{lastUpdate}
            details
              summary Description:
              p
                | The performance of a SPARQL Endpoint is crucial for any application using this service. The performance first looks at the presence of an hypothetical result size threshold enforced by the endpoint. Then, it measures ask and join queries performance. Each query is runned twice to compare cold-cache (first run) and warm-cache (second run) timings.
      .line
      section#posts.default-area
        article.wrp(style='padding-bottom: 1em;')
          .wrplInnerBox(style='height: 100%;')
            - function numberWithCommas(x) {if (x) return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
            h3 #{epsPerf.nbEndpointsWithThreshold}/#{epsPerf.nbEndpointsTotal} endpoints suspected to enforce a result-size thresholds
            h3 #{numberWithCommas(epsPerf.mostCommonThreshold)} is the most common result-size threshold  
        article.wrp
          .wrplInnerBox(style='height: 100%;')
            table#table_current.psp-table(cellspacing='0', cellpadding='0', border='0', width='100%')
              thead
                tr
                  th.tablehead(scope='col', width='40%') SPARQL Endpoint
                  th.tablehead(width='20%') Result-size thresholds
                  th.tablehead(width='20%') ASK queries mean runtime (Cold-Warm)
                  th.tablehead(width='20%') Join queries mean runtime (Cold-Warm)
              tbody
                - each ep, i in epsPerf.endpoints
                  tr(class=(i % 2 == 0) ? 'odd' : 'even')
                    //-Display Endpoint Label
                    //-TODO: if more than one endpoint then display how many and their names 
                    if ep.datasets.length>1
                      td
                        a(href="/endpoint?uri=#{ep.uri}") #{ep.uri}
                    else
                      td 
                        a(href="/endpoint?uri=#{ep.uri}") #{ep.datasets[0].label}
                    //-Display Threshold 
                    td.tdright #{numberWithCommas(ep.threshold)}
                    //-Display ASK
                    td.tdright #{parseFloat(ep.askMeanCold.toFixed(2))}-#{parseFloat(ep.askMeanWarm.toFixed(2))} s
                    //-Display Join
                    td.tdright #{parseFloat(ep.joinMeanCold.toFixed(2))}-#{parseFloat(ep.joinMeanWarm.toFixed(2))} s